.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
src/*.o
src/*.so
src/*.dll
src/*.def
*.Rcheck/
*.tar.gz
*-*.Rcheck/
.Rproj.user/
*.so
*.dll
*.o
*.def
*.zip
*.tgz
.Rcheck/
vignettes/*.html
inst/doc
/doc/
/Meta/
cran-comments.md
CRAN-SUBMISSION
